*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    position: relative;
}


.game-board {
    position: relative;
    display: grid;
    width: fit-content;
    margin: 0 auto;
    font-size: 7.5vmin;
    grid-template-columns: repeat(var(--cell-count), var(--cell-size));
    grid-template-rows: repeat(var(--cell-count), var(--cell-size));
    background-color: #ccc;
    padding: var(--cell-gap);
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    --bg-lightness: 20%;
    --color-lightness: 80%;

    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);

    border-radius: 1vmin;
    background-color: hsl(300, 100%, var(--bg-lightness));
    color: hsl(300, 100%, var(--color-lightness));
    top: calc(var(--y)*(var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x)*(var(--cell-size) + var(--cell-gap)) + var(--cell-gap));


    display: flex;
    justify-content: center;
    align-items: center;


    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

.header {
    color: #fff;
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 4vmin auto;
}

.header div {
    flex: 1;
}

.new-game .btn{
    padding: 0.75rem 1rem;
    background-color: purple;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.score {
    text-align: end;
}

.model {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 7.5vmin;    

    display: none;
}

.card {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 2px;
    /* width: 5rem;
    height: 5rem; */

    box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.54);
}